*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* background-color: #2c3e50; */
    
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.nav {
    display: flex;
    gap: 15px;
}

.nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent), url('https://via.placeholder.com/1920x1080');
    background-size: cover;
    background-position: center;
    color: white;
}

.hero-text {
    max-width: 50%;
}

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-text p {
    margin-bottom: 20px;
    font-size: 18px;
}
.hero img {
border-radius: 10px;

width: 400px;
height: 400px;
}


.btn {
    background: #ff0057;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.services {
    display: flex;
    justify-content: space-around;
    padding: 90px;
    background: #bcb9b9b8;
}

.service {
    text-align: center;
    max-width: 300px;
    width: 40%;
    text-align: center;
    border: 1px solid #4b10aa;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
}
.service-logo {
    width: 80px; /* Adjust based on your logo size */
    height: auto;
    margin-bottom: 10px;
}

.service h3 {
    margin-bottom: 10px;
    color: #333;
}

.service p {
    color: #777;
}
h3 {
    font-size: 1.5rem;
    color: #333;
}

p {
    font-size: 1rem;
    color: #f5f5f5;
}
footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
/* css for the education starts from here */